body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

body {
  user-select: none;
}
/*========== Media Queries ==========*/

@media (max-height: 515px) {
  html {
    height: auto;
  }
  body {
    margin: 20px 10px;
  }
}

@media (max-width: 2000px) and (min-width: 700px) {
  body {
    padding: 20px 10px;
  }
}
